<%# This is used to display basic git setup instructions, like on github... %>
<% flash.now[:error] = "Repository does not exist. Create one using the instructions below." %>
<%= '<div class="box">'.html_safe %>
	
<%= '<h2>Git Setup:</h2>'.html_safe %>
<%= '<pre>  <a href="http://git-scm.com/download" target="_blank">Download and Install Git</a>'.html_safe %>
<%= '  git config --global user.name "'.html_safe %> <%= User.current.login %> <%= '"'.html_safe %>
<%= '  git config --global user.email'.html_safe %> <%= User.current.mail %>
<%= '</pre>'.html_safe %>

<%= '<h2>Permission Setup:</h2>'.html_safe %>
<%= '<pre>'.html_safe %>  <%= link_to "Upload SSH Public Key", public_keys_path %>
<%= '  Add yourself as a project developer: '.html_safe %> <%= link_to @project.name + " Settings", {:controller => 'projects', :action => 'settings'} %> <%= ' -&gt; Members Tab -&gt; New Member'.html_safe %>
<%= '</pre>'.html_safe %>

<%= '<h2>Repository Setup:</h2>'.html_safe %>
<%= '<pre>  cd '.html_safe %> <%= @project.identifier %>
<%= '  git init'.html_safe %>
<%= '  git add .'.html_safe %>
<%= '  git commit -m "Initializing '.html_safe %> <%= @project %> <%= 'repository"'.html_safe %>
<%= '  git remote add origin '.html_safe %> <%= Setting.plugin_redmine_gitosis['developerBaseUrls'] + @project.identifier + '.git' %>
<%= '  git push origin master'.html_safe %>
<%= '</pre>'.html_safe %>

<%= '<h2>Existing Git Repo?</h2>'.html_safe %>
<%= '<pre>  cd existing_git_repo'.html_safe %>
<%= '  git remote add origin '.html_safe %> <%= Setting.plugin_redmine_gitosis['developerBaseUrls'] + @project.identifier + '.git' %>
<%= '  git push origin master'.html_safe %>
<%= '</pre>    '.html_safe %>
  
<%= '</div>'.html_safe %>
