<%# This is used to display basic git setup instructions, like on github... %>
<% flash.now[:error] = "Repository does not exist. Create one using the instructions below." %>
<div class="box">
	
<h2><%= t :git_setup %>:</h2>
<pre>  <a href="http://git-scm.com/download" target="_blank"><%= t(:download_install_git) %></a>
  git config --global user.name " <%= User.current.login %> "
  git config --global user.email <%= User.current.mail %>
</pre>

<h2><%= t :permission_setup %>:</h2>
<pre>  <%= link_to l(:upload_ssh_public_key), public_keys_path %>
  <%= t(:add_yourself_as_developer) %>:  <%= link_to t(:project_name_settings, :project => @project.name), {:controller => 'projects', :action => 'settings'} %>  -&gt; <%= t(:named_tab, :name => t(:label_member_plural)) %> -&gt; <%= t(:label_member_new) %>
</pre>

<h2><%= t :repository_setup %>:</h2>
<pre>  cd  <%= @project.identifier %>
  git init
  git add .
  git commit -m "Initializing  <%= @project %> repository"
  git remote add origin  <%= Setting.plugin_redmine_gitosis['developerBaseUrls'] + @project.identifier + '.git' %>
  git push origin master
</pre>

<h2><%= t :existing_git_repo %></h2>
<pre>  cd existing_git_repo
  git remote add origin  <%= Setting.plugin_redmine_gitosis['developerBaseUrls'] + @project.identifier + '.git' %>
  git push origin master
</pre>    
  
</div>
