<%= '<div class="box tabular">'.html_safe %>
	<%= '<p>'.html_safe %><%= f.text_field :title, :required => true %><%= '</p>'.html_safe %>
	<%= '<p>'.html_safe %><%= f.text_area :key, :required => true, :disabled => !@gitosis_public_key.new_record?, :style => 'width:99%;height:140px;', :label => :field_public_key %>
		<% if !@gitosis_public_key.new_record?%>
		<%= '<br/><em>'.html_safe %><%= l(:label_key_cannot_be_changed_please_create_new_key) %><%= '</em>'.html_safe %>
		<% end %>
	<%= '</p>'.html_safe %>
	<%= '<p>'.html_safe %><%= f.check_box :active %><%= '</p>'.html_safe %>
<%= '</div>'.html_safe %>
