<h2><%= link_to l(:label_public_keys), public_keys_path %> <%= '&#187;'.html_safe %> <%= h @gitosis_public_key %></h2>

<%= error_messages_for @gitosis_public_key %>

<%= labelled_form_for :public_key, @gitosis_public_key, :url => { :action => "update" }, :html => { :method => :put}, 
                          :lang => current_language do |f| %>

	<%= render :partial => 'form', :locals => { :f => f } %>
	<%= submit_tag l(:button_save) %>
<% end %>


<% html_title(l(:label_public_keys)) -%>
